@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: rgba(246, 149, 72, 1);
  --color-primary-200: rgba(235, 232, 232, 1);
  --color-primary-300: rgba(194, 104, 32, 1);
  --color-secondary-100: rgba(110, 110, 110, 1);
  --color-secondary-200: rgba(217, 217, 217, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-border {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

/* Featured */
.featured-pricing {
  font-size: 12px;
  font-weight: 600;
  top: 125px;
  left: 30px;
}

/* hero-card-text */
.hero-card-text div {
  padding: 0 100px;
}

.hero-card-text div:not(:first-child) {
  border-left: 1px solid gray;
}

.hero-card-text div p {
  width: 92px;
  height: 92px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-card-text .text-top {
  font-weight: 600;
  font-size: 35px;
}

.hero-card-text .text-bottom {
  font-weight: 400;
  font-size: 17px;
}

.why-choosing-card-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.why-choosing-card {
  width: 212px;
  height: 212px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-choosing-card h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: white;
  margin-top: 18px;
}

.why-choosing-card-round {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-active .active-dot {
  background-color: black;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: #d9d9d9;
}

.arrow-active {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  transition: all 1s ease-out;
}

.arrow-active:hover {
  cursor: pointer;
}
